body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #222222;
    overflow: scroll;
}

.wrapper {
    min-height: 400px;
    height: auto;
    margin: 20px 0 0 20px;
    padding: 10px;
}

.galows {
    display: none;
    width: 55%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid rgb(255, 0, 179);
}

.galowsOn {
    display: block;
    width: 55%;
    margin: 0 auto;
    text-align: center;
}

.galows img {
    width: 60%;
    margin: 0px auto;
}

.galowsParts {
    display: block;
    width: 500px;
    height: 200px;
    margin: 0 auto;
}

.gamePanel {
    display: block;
    width: 500px;
    height: 150px;
    margin: 200px auto 0;
    /*border: 1px solid rgb(200, 200, 200);*/

}

#text {
    margin: 0 20px;
}

.buttons {
    display: block;
    width: 500px;
    height: 50px;
    margin: 100px auto;
}

.youFail {
    width: 557px;
    height: 280px;
}

.youFail img {
    display: block;
    width: 70%;
    margin: 0px auto;
}
.youFail img.headImg{
    max-width: 800px;
    margin: 0px 0 0 30px;
    position: absolute;
    top: 0;
}

button.playAgain {
    width: 120px;
    height: 50px;
    font-size: 18px;
}

.word {
    display: block;
    margin: 0 0 0 120px;
}

input[type=text] {
    width: 24px;
    text-align: center;
    font-size: 30px;
    line-height: 32px;
    margin: 0 -2px;
    padding: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.206);
}

input[type=text]:active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.006);
}

input[type=text]:focus {
    outline: none;
}

.winner {
    display: block;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}



/* -----     media queries ----*/

/* Small devices (landscape phones, 576px and up) */

/* @media (min-width: 576px) {} */

/* Medium devices (tablets, 768px and up) */

/* @media (min-width: 768px) {} */

/* Large devices (desktops, 992px and up) */

/* @media (min-width: 992px) {} */

/* // Extra large devices (large desktops, 1200px and up) */

/* @media (min-width: 1200px) {} */

@media only screen and (max-width: 600px) {
    .wrapper {
        border: none;
        margin: 0;
    }



    .galowsParts {
        width: 339px;
    }

    .gamePanel {
        width: 339px;
        height: 50px;
        border: 1px solid rgb(200, 200, 200);
        border-radius: 3px;
        margin: 80px auto 0;
    }

    .word {
        display: block;
        margin: -28px auto 0 20px;
    }

    .galowsOn {
        margin: 20px auto;
    }

    .winner {
        width: 339px;
    }

    .youFail {
        width: 339px;
    }
    .youFail img.headImg{
        margin: 0px 0 0 70px;
        position: absolute;
        top: 0;
    }

    .buttons {
        width: 339px;
        /* position: absolute;
        bottom: 10px; */
        margin: 30px auto 0;
    }
}